<!DOCTYPE html>
<html lang="en">

<head>
 	<title>SSG</title>
</head>

<body>
	<h1> Static Website Generator </h1>

	<p> Welcome to Charlie's SSG test. For more info please go to the 
	<a href="http://www.charlescochrane.com">
	SSG Website</a>.
	Thanks for using SSG
	</p>
	
	<%= A %>
	
	<br>
	
	<h3><u>Index Page Options</u></h3>
	<form action="/form1" method="post">
		Blog Name <input type="text" name="message" value='<%= Title %>'><br>
		<input type="checkbox" name="ShowTitle" value="ShowTitleV">Display Title on Page?<br>
		Posts per index page <input type="text" name="fuck">
		<div><button type="submit">Make it!</button></div>
	</form>

</body>
</html>